<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit a deposit</title>
</head>
<body>
<h2>Edit a deposit</h2>

<form action="#" th:action="@{/deposit/edit}" method="post" th:object="${deposit}">

Account number : <span th:text="*{accNumber}"></span> <br/>
<input type="hidden" th:field="*{accNumber}" />
Account holder name: <input type="text" th:field="*{custName}" required /><br/>
Balance: <input type="text" th:field="*{amount}" required /><br/>
 <input type="submit" value="Submit"/>

</form>
</body>
</html>